#header {
	position: relative;
	background-image: url("../Assets/studio01.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	cursor: default;
	height: 860px;
}

body{
	margin: 0;
}

#logo {
	height: 100px;
	width: 100px;
	top: 0px;
	left: 0;
	right: 0px;
	padding: 1.5em 0 1.5em 0;
	overflow: hidden;
}

#header .inner {
	position: relative;
	z-index: 1;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

#header header {
	display: inline-block;
}

#header h2 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 20px;
	text-shadow: 2px 2px #000000;
	justify-content: center
}

.nav-logo{
	float: left;
	margin-right: 20px;
	display: table;
}

#nav {
	display: flex;
}

#nav ul{
	float: right;
	margin: auto;
	font-size: 11px;
	font-weight: 400;
	list-style: none;
	text-align: center;
	padding: 0;
}

#nav li{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
}

#nav li a{
	margin: 10px;
	border-radius: 5px;
	background: #60B99A;
	color: #fff;
	display: inline-block;
	padding: 15px;
	text-decoration: none;
}

